<ion-header>
  <ion-navbar transparent>
    <ion-title>Add an Ally!</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cancel()">Cancel</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="allyForm" (ngSubmit)="addAlly()">

    <!-- <ion-item>
        <ion-label>Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item> -->


    <ion-item>
      <ion-thumbnail item-left *ngIf="selectedAlly">
        <img src="../../assets/images/icon_portrait_{{selectedAlly.name}}.png">
        </ion-thumbnail>
      <ion-input placeholder="Ally Name" #searchBox (keyup)="search(searchBox.value)" [value]="selectedAlly?.name" formControlName="ally"></ion-input>
      <!-- <ion-thumbnail item-left *ngIf="selectedAlly">
        <img src="../../assets/images/icon_portrait_{{selectedAlly.name}}.png">
        <ion-input readonly="true" value={{selectedAlly.name}} formControlName="ally"></ion-input>
      </ion-thumbnail> -->
    </ion-item>

    <ion-list>
      <div *ngFor="let ally of allies | async" (click)="selectAlly(ally)" tappable>
        <ion-item *ngIf="selectedAlly?.name!=ally.name">
          <ion-avatar item-left>
            <img src="../../assets/images/icon_portrait_{{ally.name}}.png"> {{ ally.name }}
          </ion-avatar>
        </ion-item>
      </div>
    </ion-list>

    <ion-item>
      <ion-label>Rarity</ion-label>
      <ion-range min="2" max="5" pin="true" steps="1" snaps="true" formControlName="rarity">
        <ion-label range-left>2
          <ion-icon small name="star"></ion-icon>
        </ion-label>
        <ion-label range-right>5
          <ion-icon small name="star"></ion-icon>
        </ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Level</ion-label>
      <ion-input type="number" formControlName="level" min="1" max="40"></ion-input>
    </ion-item>

    <div padding>
      <!-- <button ion-button full type="submit">Add Ally</button> -->
      <button ion-button full type="submit" [disabled]="allyForm.status=='INVALID'">Add Ally</button>
    </div>
  </form>
</ion-content>
